@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Dancing+Script:wght@400..700&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Italianno&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-weight: 400;
        font-style: normal;
      
}
.main{
    background-image: url("Rectangle\ 39874.png");
    background-size: 100% 100%;
}
.section-two{
    background-image: url("Rectangle2.png");
}
.contentTwo{
    background-image: url("wallpaper.png");
    background-size: 70% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
